body{
    background-color:#fff;
    width: 1100px;
    height: 2000px;
}
@font-face {
    font-family: "MyriadProRegular";
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
.header{
    width: 1100px;
    height: 133px;
    background-color: #333;
}
#logo_head{
    float:left;
    width: 407px;
    height: 56px;
    margin:41px 70px;
    font-family: "MyriadProRegular";
    font-size: 60px;
    color: #eee;
    
}
nav{
    margin-top:63px;
    /*в макете отступ равен 73px*/
    margin-bottom: 47px;
    float:right;
    margin-right:70px;
}
a{
    color: #eee;
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    line-height: 42px;
    width: 481px;
    height: 13px;
    text-decoration:none;
}
a:hover{
    color: #00aeef;
}
h1{
    float:left;
    color: #333;
    width: 871px;
    
    font-family: "MyriadProRegular";
    margin-left: 70px;
    margin-top: 67px;
    font-size: 60px;
    line-height: 16px;
    font-weight: 700;
}
#h1-symbol{
    color: #00bff3;
}
h2{
    
    float:left;
    color: #bbb;
    font-family: "MyriadProRegular";
    font-size: 50px;
    font-weight: 400;
    line-height: 16px;
    margin-left: 70px;
    margin-top: 4px;
   /*ширина текста должна быть 710px*/
    width: 880px;
}
.dots{
    margin-left: 65px;
    width: 966px;
    height: 5px;
    color: #ccc;
    font-family: "MyriadProRegular";
    font-size: 30px;
    font-weight: 400;
    line-height: 16px;
   
}
.dots1{
    margin-top:31px;
    margin-bottom: 33px;
   
    /*беда с отступами, разобраться*/
}
.dots2{
    margin-top: 34px;
    margin-bottom: 0px;
    
}

.content_text{
    /*верхние и нижнии отсупы съехали, расстояние между символами должно быть меньше*/
    float:left;
    margin:0px 85px 0px 65px;
    font-weight: 400;
    font-family: "MyriadProRegular";
    color: #555;
    font-size: 34px;
    line-height: 42px;
 
}

.text_bold{
    font-weight: 700;
}

.blocks{
    /* отступ до точек должен составлять 43px*/
margin-top: 53px;
width: 283px;
height: 351px;
background-color: #00aeef;
box-shadow: 2.5px 4.3px 5px rgba(170, 170, 170, 0.75);
    
}
.block1{
    float:left;
    margin-left: 67px;
    margin-right: 59px;
}
.block2{
    float:left;
}
.block3{
    float:right;
    margin-left: 58px;
    margin-right: 67px;
}
h3{
    color: white;
    font-family: "MyriadProRegular";
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
    text-align: center;
    margin-top: 25px;     
}
#h3_3{
    margin-top: 27px;
   
}
.dots_mini{
    color: white;
    font-family: "MyriadProRegular";
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-top:-35px;
    /*отступы от точек до заголовка третьего уровня ~15px*/
}
.text_block{
    text-align: center;
    padding: 0px 28px;
    color: white;
    font-family: Arial;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}
a.button{
    padding: .7em 1.5em;
   
    width: 232px;
    height: 41px;
    background-color: #0076a3;
    margin-left: 25px;
    box-shadow: inset 0 0 5px rgba(35, 81, 98, 0.75);
    
    color: white;
    font-family: "MyriadProRegular";
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    vertical-align: bottom;
    text-decoration: none;
    outline: none;
    cursor:auto;
}
a.button:hover{
    background: ;
}
